<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="zoopark.mybatis.model.Animal" alias="Animal"/>
        <typeAlias type="zoopark.mybatis.model.Building" alias="Building"/>
        <typeAlias type="zoopark.mybatis.model.ZooKeeper" alias="ZooKeeper"/>
        <typeAlias type="zoopark.mybatis.model.AnimalZooKeeper" alias="AnimalZooKeeper"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="openejb:Resource/AnimalsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AnimalMapper.xml"/>
        <mapper resource="mybatis.xml/BuildingMapper.xml"/>
        <mapper resource="mybatis.xml/ZooKeeperMapper.xml"/>
        <mapper resource="mybatis.xml/AnimalZooKeeperMapper.xml"/>
    </mappers>
</configuration>